/* .product_main {
    display: flex;
    flex-direction: column;
}


.list__title {
    margin: 24px 76px 12px 76px;

    font-size: 24px;
    font-weight: 600;
}

.productList__container {
    margin: 0 76px;
}

.product__container {
    margin-left: 24px;
    width: 264px;
    height: 264px;
    display: flex;
    flex-direction: column;
}

.product__box {

    width: 1198px;
    height: 264px;
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    flex-wrap: wrap;
    flex: 1;
}

.product__img {
    display: flex;
    width: 264px;
    height: 210px;
    border-radius: 6%;
    margin-bottom: 6px;
}

.product__title {
    font-size: 16px;
    font-weight: 800;
    flex: 1;
}

.fw__600 {
    font-weight: 600;
}

.product__first_line {
    display: flex;
    align-content: end;
}

.product__discount {
    color: #452CDD;
    font-weight: 800;
}

.ta_right {
    justify-content: end;
    display: flex;
    width: 264px;
    flex: 1;

} */