.product_main {
    display: flex;
    flex-direction: column;
}


.list__title {
    margin: 24px 76px 24px 76px;

    font-size: 24px;
    font-weight: 600;
}

.productList__container {
    margin: 0 50px;
}

.product__container {
    margin-left: 24px;
    width: 264px;
    height: 264px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.product__box {

    width: 100%;
    height: 264px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
}

.product__img-container {
    position: relative;
    width: 264px;
    height: 210px;
    margin-bottom: 6px;
}

.product__img {
    display: flex;
    width: 264px;
    height: 210px;
    border-radius: 6%;
    object-fit: cover;
}

.bookmark__icon.on {
    color: #FFD361;
}

.bookmark__icon {
    position: absolute;
    font-size: 24px;
    bottom: 12px;
    right: 12px;
    color: #DFDFDF;
}



.product__title {
    font-size: 16px;
    font-weight: 800;
    flex: 1;
}

.fw__600 {
    font-weight: 600;
}

.product__first_line {
    display: flex;
    align-content: end;
}

.product__discount {
    color: #452CDD;
    font-weight: 800;
}

.ta_right {
    justify-content: flex-end;
    display: flex;
    width: 264px;
    flex: 1;

}